In [22]:
import pandas as pd

import re

In [4]:
df = pd.read_csv('/Users/jacksonsorenson/Documents/Computational Media Lab/Weed Study/CSV for mass database organization/R:Dabs/Simplified LLM ready/dab_llm_ready.csv')

In [5]:
df.head()

,author,body_text,media
0,ToroCirc2Circ,Dabs to other uses? Only if its meds.\n\nnan,"{'oembed': {'author_name': 'TheCCC420', 'autho..."
1,ToroCirc2Circ,Im eating Reeses Puffs\n,NaN
2,ToroCirc2Circ,BIGGEST DAB. EVER.\n\nnan,"{'oembed': {'author_name': 'skybossj', 'author..."
3,ToroCirc2Circ,Wouldn't be able to speak for an hour after so...,NaN
4,sapfromtrees,A lot of it globbed up on the side of the dome...,NaN

In [8]:
df2 = pd.read_csv('/Users/jacksonsorenson/Documents/Computational Media Lab/Weed Study/CSV for mass database organization/R:Dabs/Combined Dabs W Network/r_dabs_network.csv')

In [9]:
df2.head()

,node_type,depth,id,parent_id,post_id,created_utc,author,score,body_text,parent_body_text,distinguished,num_comments,media
0,post,0,p47m1,NaN,p47m1,1327988843,ToroCirc2Circ,3,Dabs to other uses? Only if its meds.\n\nnan,NaN,NaN,1.0,"{'oembed': {'author_name': 'TheCCC420', 'autho..."
1,comment,1,c3mcz80,p47m1,NaN,1327988908,ToroCirc2Circ,1,Im eating Reeses Puffs\n,Dabs to other uses? Only if its meds.\n\nnan,NaN,NaN,NaN
2,post,0,p47vc,NaN,p47vc,1327989246,ToroCirc2Circ,5,BIGGEST DAB. EVER.\n\nnan,NaN,NaN,2.0,"{'oembed': {'author_name': 'skybossj', 'author..."
3,comment,1,c3md19l,p47vc,NaN,1327989266,ToroCirc2Circ,1,Wouldn't be able to speak for an hour after so...,BIGGEST DAB. EVER.\n\nnan,NaN,NaN,NaN
4,comment,1,c3pbaqy,p47vc,NaN,1328749900,sapfromtrees,1,A lot of it globbed up on the side of the dome...,BIGGEST DAB. EVER.\n\nnan,NaN,NaN,NaN

In [10]:
# Step 1: Clean df (remove '[deleted]' and "nan" string)
df = df[df['author'] != '[deleted]']
df['body_text'] = df['body_text'].str.replace("nan", "", regex=False)

# Step 2: Drop 'media' column
if 'media' in df.columns:
    df = df.drop(columns=['media'])

# Step 3: Pull post_id from df2 and merge it into df
# Make sure both body_text columns are stripped and aligned
df['body_text'] = df['body_text'].str.strip()
df2['body_text'] = df2['body_text'].str.strip()

# Merge on both author and body_text (only keeps rows that match)
df = df.merge(df2[['author', 'body_text', 'post_id']], on=['author', 'body_text'], how='left')

In [13]:
df.head(100)

           author                                          body_text post_id
0   ToroCirc2Circ              Dabs to other uses? Only if its meds.     NaN
1   ToroCirc2Circ                             Im eating Reeses Puffs     NaN
2   ToroCirc2Circ                                 BIGGEST DAB. EVER.     NaN
3   ToroCirc2Circ  Wouldn't be able to speak for an hour after so...     NaN
4    sapfromtrees  A lot of it globbed up on the side of the dome...     NaN
..            ...                                                ...     ...
95     bassethead  first time posting here. i love dabs i think w...  1xo8nu
96      badf1nger                                          Dab shelf     NaN
97        303doja                                   9g Oaksterdam OG     NaN
98        303doja                                            chillin     NaN
99         J_Dabs                                        nice hitman     NaN

[100 rows x 3 columns]

In [14]:
# Step 1: Select relevant columns
cleaned_df = df2[['author', 'post_id', 'parent_id', 'body_text']].copy()

# Step 2: Drop rows with missing or empty authors
cleaned_df = cleaned_df[cleaned_df['author'].notna()]
cleaned_df = cleaned_df[cleaned_df['author'].str.strip() != ""]

# Step 3: Remove any rows where body_text is "nan" or missing
cleaned_df = cleaned_df[cleaned_df['body_text'].notna()]
cleaned_df = cleaned_df[~cleaned_df['body_text'].str.contains("nan", case=False, na=False)]

# Step 4: Save to Desktop
cleaned_df.to_csv("~/Desktop/new_dab_llm_ready.csv", index=False)

In [15]:
cleaned_df.head()

,author,post_id,parent_id,body_text
1,ToroCirc2Circ,NaN,p47m1,Im eating Reeses Puffs
3,ToroCirc2Circ,NaN,p47vc,Wouldn't be able to speak for an hour after so...
4,sapfromtrees,NaN,p47vc,A lot of it globbed up on the side of the dome...
7,[deleted],NaN,p70ha,[deleted]
13,putangwarrior,NaN,13hpid,"Looks mighty fine, i'd prefer clumps makes it ..."

In [17]:
df3 = pd.read_csv('/Users/jacksonsorenson/Documents/Computational Media Lab/Weed Study/CSV for mass database organization/R:DailyDabbers/Combined Daily Dabbers W Network/r_dailydabbers_network.csv')
df3.head(10)

,node_type,depth,id,parent_id,post_id,created_utc,author,score,body_text,parent_body_text,distinguished,num_comments,media
0,post,0,3ts68m,NaN,3ts68m,1448169544,rukiddingdood,3,"Welcome, let's get this party started. If you'...",NaN,NaN,9.0,NaN
1,comment,1,cxh36nx,3ts68m,NaN,1448829364,common-object,3,To my understanding you're hoping to have a co...,"Welcome, let's get this party started. If you'...",NaN,NaN,NaN
2,reply,2,cyywwf3,cxh36nx,NaN,1452836902,rukiddingdood,1,Looking to make this a discussion focused envi...,To my understanding you're hoping to have a co...,moderator,NaN,NaN
3,comment,1,cxh77xh,3ts68m,NaN,1448835693,[deleted],1,[removed],"Welcome, let's get this party started. If you'...",NaN,NaN,NaN
4,reply,2,cxhkdgn,cxh77xh,NaN,1448856925,[deleted],1,[deleted],[removed],NaN,NaN,NaN
5,comment,1,cxjmh3v,3ts68m,NaN,1449006987,Serrok,1,It seems to me there should be a difference be...,"Welcome, let's get this party started. If you'...",NaN,NaN,NaN
6,reply,2,cxki2cm,cxjmh3v,NaN,1449073815,lps2,3,I think this sub would be a good place for thi...,It seems to me there should be a difference be...,NaN,NaN,NaN
7,reply,3,cxycb7a,cxki2cm,NaN,1450067938,nakdamink,2,I'm fully supportive of this.,I think this sub would be a good place for thi...,NaN,NaN,NaN
8,comment,1,cxtluyd,3ts68m,NaN,1449713057,RHancock92,1,I like it. Can I ask a question in my own post...,"Welcome, let's get this party started. If you'...",NaN,NaN,NaN
9,comment,1,cxtlvcj,3ts68m,NaN,1449713077,RHancock92,1,I like it. Can I ask a question in my own post...,"Welcome, let's get this party started. If you'...",NaN,NaN,NaN

In [18]:
# Step 1: Select and copy relevant columns
cleaned_df3 = df3[['author', 'post_id', 'parent_id', 'body_text']].copy()

# Step 2: Clean rows with bad/missing authors
cleaned_df3 = cleaned_df3[cleaned_df3['author'].notna()]
cleaned_df3 = cleaned_df3[cleaned_df3['author'].str.strip() != "[deleted]"]

# Step 3: Clean rows with unusable body_text
cleaned_df3 = cleaned_df3[cleaned_df3['body_text'].notna()]
cleaned_df3 = cleaned_df3[~cleaned_df3['body_text'].str.lower().isin(["removed", "deleted"])]

# Step 4: Save to Desktop
cleaned_df3.to_csv("~/Desktop/dailydabbers_llm_ready.csv", index=False)


/Users/jacksonsorenson/Documents/Computational Media Lab/Weed Study/CSV for mass database organization/R:DailyDabbers/Simple for CSV/Newwwww llm rdy/dailydabbers_llm_ready.csv

In [19]:
df8 = pd.read_csv('/Users/jacksonsorenson/Documents/Computational Media Lab/Weed Study/CSV for mass database organization/R:Dabs/NEW LLM REQDY/new_dab_llm_ready.csv')

In [20]:
df8.head()

,author,post_id,parent_id,body_text
0,ToroCirc2Circ,NaN,p47m1,Im eating Reeses Puffs
1,ToroCirc2Circ,NaN,p47vc,Wouldn't be able to speak for an hour after so...
2,sapfromtrees,NaN,p47vc,A lot of it globbed up on the side of the dome...
3,[deleted],NaN,p70ha,[deleted]
4,putangwarrior,NaN,13hpid,"Looks mighty fine, i'd prefer clumps makes it ..."

In [24]:
# Step 1: Drop rows where body_text is NaN or deleted
df8 = df8[df8['body_text'].notna()]
df8 = df8[df8['body_text'].str.lower() != '[deleted]']

# Step 2: Clean body_text
def clean_text(text):
    text = text.strip()
    text = re.sub(r'\s+', ' ', text)  # normalize whitespace
    text = re.sub(r'[^\x00-\x7F]+', '', text)  # remove non-ASCII chars (emojis, etc.)
    return text

df8['clean_body_text'] = df8['body_text'].apply(clean_text)

# Step 3 (Optional): Truncate long posts (e.g., keep only first 500 characters)
df8['clean_body_text'] = df8['clean_body_text'].apply(lambda x: x[:500])

# Step 4: Drop rows where clean text is empty after cleaning
df8 = df8[df8['clean_body_text'].str.strip() != ""]

# Step 5: (Optional) Reset index
df8.reset_index(drop=True, inplace=True)

# View result
df8.head()

,author,post_id,parent_id,body_text,clean_body_text
0,ToroCirc2Circ,NaN,p47m1,Im eating Reeses Puffs,Im eating Reeses Puffs
1,ToroCirc2Circ,NaN,p47vc,Wouldn't be able to speak for an hour after so...,Wouldn't be able to speak for an hour after so...
2,sapfromtrees,NaN,p47vc,A lot of it globbed up on the side of the dome...,A lot of it globbed up on the side of the dome...
3,putangwarrior,NaN,13hpid,"Looks mighty fine, i'd prefer clumps makes it ...","Looks mighty fine, i'd prefer clumps makes it ..."
4,jnthnrmrz,1cw0cs,NaN,"New to dabs\n\n...love em! The taste, the smel...","New to dabs ...love em! The taste, the smell, ..."

In [25]:
# Save to CSV with only LLM-relevant columns
df8[['author', 'clean_body_text']].to_csv('/Users/jacksonsorenson/Desktop/cleaned_llm_ready.csv', index=False)

In [ ]:
/Users/jacksonsorenson/Documents/Computational Media Lab/Weed Study/CSV for mass database organization/R:Dabs/NEW LLM REQDY/cleaned_llm_ready.csv