In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/jacksonsorenson/Documents/Computational Media Lab/Weed Study/top25Dabs.csv')
df.head()

  quarter epoch        author  pagerank  kcore  degree  stays_next
0  2015Q3    E0   champurrada  0.013182      2       2           0
1  2015Q3    E0  mau5trapper2  0.013619      2       4           0
2  2015Q3    E0          Exyi  0.018805      3       3           0
3  2015Q3    E0  mjmedstarved  0.019928      4       8           0
4  2015Q3    E0   CamIsHungry  0.009472      3       3           0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   quarter     675 non-null    object
 1   epoch       675 non-null    object
 2   author      675 non-null    object
 3   pagerank    675 non-null    float64
 4   kcore       675 non-null    int64
 5   degree      675 non-null    int64
 6   stays_next  675 non-null    int64
dtypes: float64(1), int64(3), object(3)
memory usage: 37.0+ KB

In [18]:
# Prepare storage
top25_by_epoch = []
seen_users = set()

# Ensure epochs are in order
epoch_order = ["E0", "E1", "E2", "E3"]

for epoch in epoch_order:
    epoch_df = df[
        (df["epoch"] == epoch) &
        (df["author"] != "[deleted]") &
        (~df["author"].isin(seen_users))
    ].sort_values("pagerank", ascending=False)

    top_25 = epoch_df.drop_duplicates("author").head(25)
    seen_users.update(top_25["author"])
    top25_by_epoch.append(top_25)

# Combine into one DataFrame
top25_unique = pd.concat(top25_by_epoch).reset_index(drop=True)

In [20]:
last = top25_unique[['author', 'epoch']]
last.head()

                 author epoch
0              Igby8776    E0
1  IM_NOT_A_SMART_FELLA    E0
2          TrippyToast0    E0
3              Plasm800    E0
4             badf1nger    E0

In [21]:
last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  99 non-null     object
 1   epoch   99 non-null     object
dtypes: object(2)
memory usage: 1.7+ KB

In [24]:
last.to_csv("~/Desktop/top25Dabs.csv", index=False)